//Colors

// Primary

//intro and email sign up background
$primaryDarkBlue-0: hsl(217, 28%, 15%);
//main background
$primaryDarkBlue-1: hsl(218, 28%, 13%);
//footer background
$primaryDarkBlue-2: hsl(216, 53%, 9%);
//testimonials background
$primaryDarkBlue-3: hsl(219, 30%, 18%);

//Accent
//inside call-to-action gradient
$accent-cyan: hsl(176, 68%, 64%);
$accent-blue: hsl(198, 60%, 50%);

//Neutral
$neutral-white: hsl(0, 0%, 100%);

//FONT SIZE
$fontSize: 14px;

//FONT FAMILY
$fontFamily: 'Open Sans', sans-serif;

