//Colors
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
// Primary

//intro and email sign up background
$primaryDarkBlue-0: hsl(217, 28%, 15%);
//main background
$primaryDarkBlue-1: hsl(218, 28%, 13%);
//footer background
$primaryDarkBlue-2: hsl(216, 53%, 9%);
//testimonials background
$primaryDarkBlue-3: hsl(219, 30%, 18%);

//Accent
//inside call-to-action gradient
$accent-cyan: hsl(176, 68%, 64%);
$accent-blue: hsl(198, 60%, 50%);

//Neutral
$neutral-white: hsl(0, 0%, 100%);

//FONT SIZE
$font-size: 14px;

//FONT FAMILY
$fontFamily-0: 'Open Sans', sans-serif;
// Headings, Call-to-actions, Header Navigation
$fontFamily-1: 'Raleway', sans-serif;

//BREAKPOINTS
$mobile: 375px;
$desktop: 1440px;

